\\\\# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

\\\\# dependencies and directories
/.idea
/node_modules
/.pnp
.pnp.js

\\\\# my files for work and testing
/src/components/Test
/src/cash.md

\\\\# other
/src/.eslintcache

\\\\# testing
/coverage

\\\\# production
/build

\\\\# misc
.DS_Store
.env.local
.env.development.local
.env.exercise.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
