.rule {
  padding: 12px 0;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 24px;

  .ruleBody {
    background-color: #535353;
  }
}

.title {
  margin-bottom: 8px;
  font-weight: bolder;
  color: #363636;
  font-size: 22px;
  text-indent: 20px;
}

b {
  color: #363636;
}
.list {
  margin: 6px 0 0 40px;
  text-align: left;
}
