@import 'src/mixins';

.mainWrapper {
  @include border;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 36px;
  border: 2px solid rgba(181, 181, 181, 0.45);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
  width: 100%;
  background-color: #d9f0d9;

  > *:not(:last-child) {
    margin-bottom: 18px;
  }

  @media (max-width: 1024px) {
    padding: 24px;
    flex-direction: column;
  }
  @media (max-width: 420px) {
    padding: 16px 12px;
  }
}

.exercise {
  display: flex;
  flex-direction: column;
  .exerciseTitle {
  }
  .exerciseTodo,
  .exerciseBody {
    font-size: 22px;
    line-height: 32px;

    .input {
      @include exerciseInput;
      background-color: transparent;
    }
    .inputWrong {
      background-color: rgba(255, 46, 46, 0.2);
    }

    .input:focus {
      border: none;
      border-bottom: 1px solid black;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      background-color: transparent;
      transition: width 0.2s;
    }
  }
  .checkButton {
    padding: 4px;
    margin-right: 16px;
    margin-left: auto;
  }
  .checkButton:hover {
    padding: 4px;
    background-color: lightgreen;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
  }
}

.ruleBody {
  font-weight: bolder;
  color: #535353;
  font-size: 20px;
  text-indent: 20px;
  .rule {
    font-weight: bolder;
    color: #535353;
    padding-top: 6px;
    margin-top: 12px;
    font-size: 20px;
    text-indent: 20px;
  }
}

.nextPrevWrapper {
  position: absolute;
  bottom: 24px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;

  @media (max-width: 1024px) {
    position: static;
  }

  .nextPrev {
    @include button;
  }

  .nextPrev:hover {
    transition: background-color 0.4s ease-in;
    background-color: #397de3;
    color: white;
  }

  .goTo {
    width: 40px;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 12px;
    background-color: transparent;
  }
}
