@import '../src/mixins';

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @include margin_padding_0;
}

ul,
li {
  @include reset-list;
}
html,
body {
  margin: auto;
  padding: 0;
}

#root {
  padding-top: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
