@import './variables';

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin_padding_0 {
  margin: 0;
  padding: 0;
}

@mixin border {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 6px;
}

@mixin button {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}
@mixin exerciseInput {
  border: none;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  width: 16px;
  cursor: unset;
}
